*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(250, 241, 228);
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.section2{
    margin-top: 200px;
    margin-left: 120px;
}
.quote{
    width: 400px;
    height: auto;
    font-size: 20px; 
    font-weight: lighter;
    color: rgb(97, 81, 61);

}
.words{
    width: 1000px;
    height: 120px;
    font-size: 80px;
    font-weight: bolder;
    color: rgb(97, 81, 61);
}
img{
    width: 100%;
    height: auto;
}

.menu:hover{
    color: #ff0ed7;
    transition: .5s ease-in-out;
}
.blupets{
    margin-left: 50px;
    font-size: xx-large;
}
.menu{
    font-size: large;
    margin-right: 50px;
}
fieldset{
    width: 170px;
    height: 40px;
    margin-left: 120px;
    text-align: center;
    font-size: 15px
}
.iphone{
    width: 400px;
    height: auto;
    margin-left: 1900px;
    margin-bottom: 1000px;
}
.descrip{
    width: 1500px;
    height: 60px;
    font-size: 80px;
    color: rgb(97, 81, 61);
}
.gaming{
    width: 1500px;
    height: auto;

}