*{
    box-sizing: border-box;
    margin-left: 35px;
    margin-bottom: 0px;
    padding: 0px;
    color: rgb(97, 81, 61);
}

body{
    background-color: rgb(250, 241, 228);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 1512px;
    height: 7285px;
}
/*controls first row*/
.flex-container{
    display: flex;
    justify-content: space-between;
}
.menu{
    margin-top: 25px;
}
.item{   
    font-size: 40px;
}
.flex-containerII{
    font-size: 20px;
    margin-top: 100px;
    font-weight: lighter;
}
.flex-containerIII{ 
    font-size: 60px;
    height: 296px;
    font-weight: bold;
    width: 762px;
}
.row-3{
    text-align: left;
}
.flex-containerIV{
    font-size: 60px;
    height: 370px;
    font-weight: lighter;
    width: 1272px;
    text-align: center;
    margin-top: 550px;
}
.pet-owner{
    align-items: center;
    margin-left: -100px;
}
/*for the pet image*/
img{
    width: 100%;
    height: auto;
    max-width: 1512px;
}
fieldset{
    width: 303px;
    height: 67px;
    align-items: center;
    font-size: x-large;
}
h4{
    margin-top: 100px;
}
.flex-containerV{
    display: flex;
    justify-content: center;
}
.box{
    display: flex;
    align-items: flex-end;
    width: 626px;
    height: 651px;
    background-color: rgb(247, 233, 214);
    margin: 10px;
}
.flex-containerVI{
    background-color: azure;
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    max-width: 1512px;
    max-height: 982px;
    background-color: rgb(247, 233, 214);
    align-items: flex-start;padding: 20px;
    margin: 200px auto;
}
.menu:hover{
    color: aqua;
    transition: .5s ease-in-out;
}
fieldset{
    border: 0;
    border-bottom: 5px solid rgb(97, 81, 61);
    border-top: 5px solid rgb(97, 81, 61);
    border-left: 5px solid rgb(97, 81, 61);
    border-right: 5px solid rgb(97, 81, 61);
    border-radius: 2px;
}
.flex-containerVI img{
    background-color: antiquewhite;
    object-fit: cover;
}
.flex-containerVI h1{
    width: 534px;
    height: 296px;
    margin: 100px 100px;
}
.flex-containerVI p{
    margin: 100px;
}
.quote-2{
    display: flexbox;
    padding: 0;
    justify-content: center;
    margin-top: 100px;
}
.quote-2 p {
    justify-content: space-evenly;
    height: 0;
    margin-bottom: 20px;
}
.quote-2 h1{
    height: 0;
    margin-top: 0px;
}